apiVersion: apps/v1
kind: Deployment
metadata:
  name: importador-deployment
  namespace: gedtotal-apps
  labels:
    app: importador
spec:
  replicas: 1
  selector:
    matchLabels:
      app: importador
  template:
    metadata:
      labels:
        app: importador  # <--- O Pod ganha este nome
    spec:
      containers:
      - name: importador
        image: docker.io/eurival/importador
        imagePullPolicy: Always
        
        envFrom:
        - configMapRef:
            name: importador-config
            
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "prod"
        - name: _JAVA_OPTIONS
          value: "-Duser.timezone=America/Sao_Paulo -XX:MaxRAMPercentage=75.0"

        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "512Mi"
            cpu: "200m"
          limits:
            memory: "1Gi"
            cpu: "1"
            
       
        livenessProbe:
          httpGet:
            path: /actuator/health/liveness
            port: 8080
          initialDelaySeconds: 60
        readinessProbe:
          httpGet:
            path: /actuator/health/readiness
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10